<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>园林绿地智能监管系统</title>
    <%= stylesheet_link_tag    'layout-mobile', media: 'all' %>
    <%= javascript_include_tag 'layout-mobile' %>
    <%= csrf_meta_tags %>
    <script type='text/javascript'>
      window.appid      = <%= raw (@appid).to_json %>;
      window.noncestr   = <%= raw (@noncestr).to_json %>;    
      window.timestamp  = <%= raw (@timestamp).to_json %>;
      window.url        = <%= raw (@url).to_json %>;
      window.signure    = <%= raw (@signure).to_json %>;
    </script>
    <script src="http://api.map.baidu.com/api?type=quick&ak=A9e3c2846f0b707f92a5c6c54dbd9d11&v=1.0"></script>
    <!--
      <script src="http://api.map.baidu.com/api?v=2.0&ak=A9e3c2846f0b707f92a5c6c54dbd9d11"></script>
    -->      
    <%= yield :app_head %>
  </head>
  <body class='mobile'>
    <%= yield %>
  </body>
</html>